*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}
body {

  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-family: inherit;
  display: block;
}
address {
  font-style: normal;
}

button,
a {
    color: #000;
  transition: all 0.3s ease-in-out;}


  
    .header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
    background: white; 
}
  
  .header-container{
     max-width: 1440px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 120px;
    align-items: center;
    height: 80px;
 
}
.header-left{
    display: flex;
    gap: 20px;  
    padding: 30px 0;
    align-items: baseline;
}

.header-text{
    font-family: "Tourney", sans-serif;
font-weight: 600;
font-size: 22px;
 line-height: 0.81818;
letter-spacing: 0.04em;
color: #000000;
letter-spacing: 0.06em;

}
.header-list{
    display: flex;
    gap: 10px;
    align-items: center;
   
}
.header-item{
     font-family: "Staatliches", sans-serif;
font-weight: 400;
font-size: 22px;
letter-spacing: 0.03em;
color: #000;

}
a:hover {
  background: #b1afaf;
}

.separator {
  text-decoration: none;
  color: black;
 display: flex;
  text-transform: uppercase; 
  align-items: center;
}





.container{
    max-width: 785px;
    width: 100%;
    padding-bottom: 90px;
    
}
.introduction-main{
    display: flex;
    
    gap: 10px;
    padding-bottom: 40px;
    align-items: center;
}
.introduction-titel{
    font-family: "Francois One", sans-serif;
font-weight: 400;
font-size: 36px;
 
line-height: 1.33333;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #000;
position: relative;
}
.introduction-titel::before{
  content: "";
  position: absolute;
top: -15px;
  width: 100px;
height: 8px;
background: #000;
}

.introduction-subtitle{
    font-family: "Farro", sans-serif;
font-weight: 300;
font-size: 30px;
letter-spacing: 0.04em;
color: #000;
padding-bottom: 28px;

}
.introduction-text{
    font-family: "PT Sans", sans-serif;
font-weight: 400;
font-size: 28px;

line-height: 1.71429;
color: #000;



}
.introduction-span{
    display: inline-block;
  text-decoration: underline;
text-decoration-skip-ink: none;  
color: #000;
}

.components-span{
    font-style: italic;
}
.subtitle{
    padding: 40px 0 40px 0;
}
.fundamentals-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fundamentals-span{
  font-weight: 700;
}
.fundamentals-bg{
    background: #dadada;
}

.handling-text{
    padding-bottom: 40px;
}

.all-container{
  display: flex;
  gap: 30px;
  max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 155px 120px 90px 120px;
    position: relative;

}

.sidbar-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 385px;
  width: 100%;  
  
}
.sidbar{
  position: sticky;
  top: 155px;
}

.sidbar-list{
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.sidbar-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;

  font-family: "Francois One", sans-serif;
font-weight: 400;
font-size: 36px;

line-height: 1.33333;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #000;
}

body::before {
    content: "";
    position: fixed;   
    z-index: -1;       
    top: 155px;         
    
    
    left: 50%;          
    margin-left: 100px; 
   

    width: 760px;       
    height: 760px;
    
    background-image: url("./bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none; 
}
.dok-container{
  
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
   margin: 0 auto;
   align-items: start;
  height: 200px;
  padding: 155px 135px 0 135px;
 

}
.dok-titel{
  font-family: "Roboto", sans-serif;
font-weight: 600;
font-size: 36px;
text-align: start;
align-items: start;

line-height: 1.33333;
letter-spacing: 0.04em;
color: #000;
position: relative;
    padding-left: 120px;

  padding-bottom: 40px; 
 

}
.dok-link{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 auto;
  border-top: 1px solid #000;
 padding-top: 15px;

  .grey{
    background: #e6e6e6;
  }

}


.dok-item{
  
  flex-basis: calc(100% - 3 * 30px ) / 4;

  border-radius: 8px;

width: 270px;
height: 180px;
background: #1a1a1a;
display: flex;
justify-content: center;
align-items: center;
 
}



.dok-titel::before{
  content: "";
  position: absolute;
top: 20px;
left: -10px;
  width: 100px;
height: 8px;
background: #000;
}